.brandmain{
    margin-left: 30px;
    margin-right: 30px;
   
    padding-left: 20px;
    padding-bottom: 20px;
}
table,tr,td{
    padding-left: 20px;
    width: 900px;
    border-collapse: collapse;
    border: solid yellow 3px;
    border-radius: 10px;
}
.brandbutton{
    height: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 3px;
    background: rgb(44, 10, 44);
    color: white;
    border: solid red 3px;
}
.edit{
    background: blue;
    height: 30px;
    width: 70px;
    color: white;
    border-radius: 5px;
    border: solid 2px blue;
}
.delete{
    background: red;
    height: 30px;
    width: 70px;
    color: white;
    border-radius: 5px;
    border: solid 2px red;
}