.contain21{
    background-image: url("https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1710892800&semt=ais");
    
    background-size: 1800px 1100px;
    
    height: 800px;
}
.manage{
    font-size: 30px;
    color: black;
}